<h3 class="page-header"> {{ survey.name }} </h3>
<p> {{ survey.description }} </p>

<p> {{ entries | json }} </p>

<form (ngSubmit)="onSubmit()">
    <div *ngFor="let question of survey.questions;let qi = index" class="card question-box">
        <div class="card-header">
            {{ question.question }}
        </div>
        <div class="card-block">
            <div class="row">
                <div *ngFor="let answer of question.answers; let ai = index" class="col-sm-3">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                        <input type="radio" [(ngModel)]="filledSurvey.filledAnswers[qi].answerId" [value]="answer.id" name="answer-{{qi}}" class="form-check-input"> {{ answer.answer }}
                    </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-lg btn-block">Fill out the survey</button>
</form>