<button (click)="goBack()" type="button" class="btn btn-secondary">Go back</button>

<div class="row">

    <div *ngFor="let surveyResult of surveyResults" class="col-sm-4">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title text-center"> {{ surveyResult.question }} </h3>
          <canvas baseChart [data]="surveyResult.answerCounts" [labels]="surveyResult.answers" [chartType]="chartType"></canvas>
        </div>
      </div>
    </div>

</div>