<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <div class="form-group" [class.has-danger]="formErrors.email">
    <label class="form-control-label" for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Email" required [(ngModel)]="model.email" name="email" maxlength="30"
      minlength="3">
    <div *ngIf="formErrors.email" class="form-control-feedback"> {{ formErrors.email }} </div>

  </div>
  <div class="form-group" [class.has-danger]="formErrors.password">
    <label class="form-control-label" for="password">Hasło</label>
    <input type="password" class="form-control" id="password" placeholder="Hasło" required [(ngModel)]="model.password" name="password"
      maxlength="30">
    <div *ngIf="formErrors.password" class="form-control-feedback"> {{ formErrors.password }} </div>
  </div>

  <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Submit</button>
</form>