<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/">Navbar</a>


    <div [collapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
      <span *ngIf="email" class="navbar-text">
        Logged as: {{email}}
      </span>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="/mainpage" routerLinkActive="active" class="nav-link">Mainpage</a>
        </li>
        <li *ngIf="email" class="nav-item">
          <a routerLink="/welcome" routerLinkActive="active" class="nav-link">Welcome</a>
        </li>
        <li *ngIf="email" class="nav-item">
          <a routerLink="/survey-generator" routerLinkActive="active" class="nav-link">Generate survey</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" routerLinkActive="active" class="nav-link">
            <span *ngIf="email">Logout</span>
            <span *ngIf="!email">Login</span>
          </a>
        </li>


      </ul>
    </div>

  </div>

</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>