<div class="container">
  <div class="row charts-row">

    <div *ngFor="let survey of surveys" class="col-sm-4">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title text-center"> {{ survey.question }} </h3>
          <canvas baseChart [data]="survey.answerCounts" [labels]="survey.answers" [chartType]="pieChartType"></canvas>
          <button type="button" (click)="checkSurveyResults(survey.surveyId)"  class="btn btn-info btn-lg btn-block">Check all results</button>
        </div>
      </div>

    </div>
  </div>


</div>