<div class="survey-list">

  <div class="form-group">
    <label for="search">Search</label>
    <input [(ngModel)]="searchTerm" (ngModelChange)="search()" type="text" class="form-control" name="search" id="search" aria-describedby="helpId" placeholder="Search">
  </div>

  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Survey name</th>
        <th>Created by</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr [class.table-success]="survey.filled==1" *ngFor="let survey of surveys;let i=index">
        <th scope="row"> {{i + 1}} </th>
        <td>{{ survey.name }} </td>
        <td>{{ survey.email }} </td>
        <td><button *ngIf="survey.filled==0" type="button" (click)="onSelect(survey)" class="btn btn-primary">Fill the survey</button></td>
      </tr>
    </tbody>
  </table>


</div>