<div class="card question-box">
  <div class="card-header">
    Question {{ index+1 }}

    <button (click)="removeQuestion()" type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-block">
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      <strong>Error</strong> {{ errorMessage }}
    </div>
    <div class="input-group  question-input">
      <input [(ngModel)]="question.question" maxlength="100" type="text" name="question-{{index}}" class="form-control" placeholder="Question">
      <div (click)="addAnswer()" class="input-group-addon">Add answer</div>
    </div>
    <div class="row">
      <div *ngFor="let answer of question.answers; let i = index;" class="col-sm-3">
        <div class="input-group answer-input">

          <input [(ngModel)]="answer.answer" maxlength="15" type="text" name="answer-{{index}}-{{i}}" class="form-control" placeholder="Answer">
          <div (click)="removeAnswer(i)" class="input-group-addon"><span aria-hidden="true">&times;</span></div>

        </div>

      </div>

    </div>
  </div>
</div>