<div class="container">
    <form (ngSubmit)="onSubmit()" >
        <button type="submit" class="btn btn-primary btn-block survey-submit-button">Add survey</button>
        <div class="form-group">
            <label for="survey-name">Name</label>
            <input [(ngModel)]="model.name" maxlength="120" type="text" name="survey-name" id="survey-name" class="form-control" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="survey-description">Description</label>
            <textarea [(ngModel)]="model.description" class="form-control" name="survey-description" id="survey-description" placeholder="Description" rows="4"></textarea>
        </div>

        <div class="row questions-header">
            <div class="col-sm-6">
                <h3>Questions</h3>
            </div>
            <div class="col-sm-6">
                <button type="button" (click)="addQuestion()" class="btn btn-secondary float-right">Add question</button>
            </div>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            <strong>Error</strong> {{ errorMessage }}
        </div>
        <div class="sortable-container" dnd-sortable-container [sortableData]="model.questions" >
            <question dnd-sortable [sortableIndex]="i" *ngFor="let question of model.questions; let i = index;" [question]="question" [index]="i" ></question>
        </div>
        

        
    </form>
</div>

